[global]
;; Reference File
$;REFERENCE_FILE$; = 
;; Maximum number of reads stored in memory
$;MAX_READS_STORED$; =
;; Validation Stringency
$;VALIDATION_STRINGENCY$; =
;; Prefix to use in naming
$;PREFIX$; = SNP

[extract_chromosomes]
;;Input BAM file. Will be filled in by the script.
$;INPUT_FILE$; = 
;; Output Prefix
$;Prefix$; = $;PREFIX$;

[haplotype_caller]
;;Input BAM file. Will be filled in by the script.
$;INPUT_FILE$; = 
;; Standard minimum confidence threshold for calling
$;STAND_CALL_CONF$; = 
;; Don't use soft-clipped bases
$;NO_SOFT_CLIPPED_BASES$; = 
;;Java Memory
$;Java_Memory$; = -Xms8g

[picard_processing]
;;Input BAM file. Will be filled in by the script.
$;INPUT_FILE$; = 
;; Read Group ID
$;ID$; = 
;; Read Group Library
$;LIBRARY$; = 
;; Read Group Platform
$;PLATFORM$; = 
;; Read Group Platform Unit
$;PLATFORM_UNIT$; = 
;; Read Group Sample Name
$;SAMPLE_NAME$; = 
;;Java Memory
$;Java_Memory$; = -Xmx5g

[preprocess_alignment]
;;Input BAM file. Will be filled in by the script.
$;INPUT_FILE$; = 
;;Java Memory
$;Java_Memory$; = -Xmx5g

[annovar]
;;Input BAM file. Will be filled in by the script.
$;INPUT_FILE$; =
;; Path to database
$;DB_PATH$; =
;; Protocol
$;PROTOCOL$; = 
;; Build Version
$;BUILDVER$; = 
;; Operation
$;OPERATION$; =
;; NA String
$;NASTRING$; =
;; Remove temp files
$;REMOVE$; = 1
;; Specify this is VCF-formatted input
$;VCFINPUT$; = 1
;; String of other misc arguments to pass to table_annovar.pl
$;OTHER_ARGS$; = 

[split_spliced_reads]
;;Input BAM file. Will be filled in by the script.
$;INPUT_FILE$; = 
;; Original Mapping Quality (-RMQF option for ReassignOneMappingQuality filter)
$;ORIG_MAPPING_QUALITY$; = 
;; Desired Mapping Quality (-RMQT option for ReassignOneMappingQuality filter)
$;DESIRED_MAPPING_QUALITY$; =
;; String of unsafe operations
$;UNSAFE$; = ALLOW_N_CIGAR_READS
;; String of other misc opts to pass into GATK
$;OTHER_OPTS$; = 
;;Java Memory
$;Java_Memory$; = -Xms8g

[variant_filtration]
;;Input BAM file. Will be filled in by the script.
$;INPUT_FILE$; = 
;; Cluster Window Size
$;WINDOW_SIZE$; = 
;; Cluster Size
$;CLUSTER_SIZE$; = 
;; String of other misc opts to pass into GATK
$;OTHER_OPTS$; = 
;;Java Memory
$;Java_Memory$; = -Xms8g

[realigner_target_creator]
;;Path to GATK binary directory
$;GATK_BIN$; = /usr/local/packages/GenomeAnalysisTK-3.1.1
;;Input Bam file. Will be filled in by the script.
$;Infile$; = 
;;additional Realigner Target Creator parameters
$;OTHER_PARAMETERS$; = 
;;use --v for verbose summary
$;OTHER_ARGS$; = --v
;;Java Memory
$;Java_Memory$; = -Xmx5g

[indel_realigner]
;;Path to GATK binary directory
$;GATK_BIN$; = /usr/local/packages/GenomeAnalysisTK-3.1.1/
;;Input Bam file. Will be filled in by the script.
$;Infile$; = 
;;Target Intervals from Realigner target creator. Will be filled in by the script.
$;TargetInterval$; = 
;;additional Indel Realigner parameters
$;OTHER_PARAMETERS$; = 
;;use --v for verbose summary
$;OTHER_ARGS$; = --v
;;Java Memory
$;Java_Memory$; = -Xmx5g

[base_recalibration]
;;Path to GATK binary directory
$;GATK_BIN$; = /usr/local/packages/GenomeAnalysisTK-3.1.1/
;;Input Bam file. Will be filled in by the script.
$;Infile$; = 
;;Known sites
$;KnownSites$; = 
;;additional Base Recalibration parameters
$;OTHER_PARAMETERS$; = -nct 40
;;use --v for verbose summary
$;OTHER_ARGS$; = --v
;;Java Memory
$;Java_Memory$; = -Xms8g

[print_reads]
;;Path to GATK binary directory
$;GATK_BIN$; = /usr/local/packages/GenomeAnalysisTK-3.1.1/
;;Input Bam file. Will be filled in by the script.
$;INPUT_FILE$; = 
;;additional Print Reads parameters
;;Base Recalibration table file. Will be filled in by the script.
$;BQSR$; =
$;OTHER_PARAMETERS$; = 
;;use --v for verbose summary
$;OTHER_ARGS$; = --v
;;Java Memory
$;Java_Memory$; = -Xmx10g

[component]
;; This is here to make replace_config_keys.pl not error out.
$;COMPONENT_CONFIG$;=
