[interface]
classification = utility

[parameters]
;; Run ID obtained from the Sequence Read Archive
$;RUN_ID$;=
;; Comma-separated-value file of metadata for a particular SRA read
$;METADATA_FILE$;=$;REPOSITORY_ROOT$;/output_repository/download_sra/$;PIPELINEID$;_default/$;RUN_ID$;_info.csv

;; Path to various classified BAM output files
$;LGT_DONOR_BAM_OUT$;=$;REPOSITORY_ROOT$;/output_repository/filter_dups_lc_seqs/$;PIPELINEID$;_lgt_donor/filter_dups_lc_seqs.bam.list
$;LGT_RECIPIENT_BAM_OUT$;=$;REPOSITORY_ROOT$;/output_repository/filter_dups_lc_seqs/$;PIPELINEID$;_lgt_recipient/filter_dups_lc_seqs.bam.list
$;ALL_DONOR_BAM_OUT$;=$;REPOSITORY_ROOT$;/output_repository/filter_dups_lc_seqs/$;PIPELINEID$;_all_donor/filter_dups_lc_seqs.bam.list
$;ALL_RECIPIENT_BAM_OUT$;=$;REPOSITORY_ROOT$;/output_repository/filter_dups_lc_seqs/$;PIPELINEID$;_all_recipient/filter_dups_lc_seqs.bam.list
$;DONOR_LGT_BLAST_BAM_OUT$;=$;REPOSITORY_ROOT$;/output_repository/bwa_aln/$;PIPELINEID$;_validation_d/bwa_aln.bam.list
$;RECIPIENT_LGT_BLAST_BAM_OUT$;=$;REPOSITORY_ROOT$;/output_repository/bwa_aln/$;PIPELINEID$;_validation_r/bwa_aln.bam.list
;; Path to various mpileup output files
$;LGT_RECIPIENT_MPILEUP$;=$;REPOSITORY_ROOT$;/output_repository/lgt_mpileup/$;PIPELINEID$;_lgt_recipient/lgt_mpileup.list
$;LGT_DONOR_MPILEUP$;=$;REPOSITORY_ROOT$;/output_repository/lgt_mpileup/$;PIPELINEID$;_lgt_donor/lgt_mpileup.list
$;ALL_RECIPIENT_MPILEUP$;=$;REPOSITORY_ROOT$;/output_repository/lgt_mpileup/$;PIPELINEID$;_all_recipient/lgt_mpileup.list
$;ALL_DONOR_MPILEUP$;=$;REPOSITORY_ROOT$;/output_repository/lgt_mpileup/$;PIPELINEID$;_all_donor/lgt_mpileup.list

;; Path to LGT by-clone.txt file, containing various information for both donor and host
$;DONOR_LGT_CLONE_OUT$;=$;REPOSITORY_ROOT$;/output_repository/blast_lgt_finder/$;PIPELINEID$;_lgt_d/i1/g1/blastn_by_clone.txt
$;RECIPIENT_LGT_CLONE_OUT$;=$;REPOSITORY_ROOT$;/output_repository/blast_lgt_finder/$;PIPELINEID$;_lgt_r/i1/g1/blastn_by_clone.txt
;; Path to concatenated m8 BlastN results
$;DONOR_BLAST_M8_OUT$;=$;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_blast_d/blastn.out
$;RECIPIENT_BLAST_M8_OUT$;=$;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_blast_r/blastn.out

;; Classification counts file
$;CLASSIFICATION_COUNTS_FILE$;=$;REPOSITORY_ROOT$;/output_repository/lgtseek_classify_reads/$;PIPELINEID$;_default/classification.counts

[input]
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; =

[component]
$;COMPONENT_NAME$; = gather_lgtseek_files
$;DESCRIPTION$; = none
$;SKIP_WF_COMMAND$;=
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
