[bwa_aln recipient]
$;INPUT_FILE$; = $;HOST_REFERENCE$;
$;INPUT_FILE_LIST$; = $;HOST_LIST$;
$;KEEP_MM$; = 0

[bwa_aln lgt]
$;INPUT_FILE$; = $;REFSEQ_REFERENCE$;
$;INPUT_FILE_LIST$; = $;REFSEQ_LIST$;

[bwa_aln validation_r]
$;INPUT_FILE$; = $;HOST_REFERENCE$;
$;INPUT_FILE_LIST$; = $;HOST_LIST$;

[blast_lgt_finder lgt_d]
$;LINEAGE$; = $;EUK_LINEAGE$;

[blast_lgt_finder lgt_r]
$;LINEAGE$; = $;BAC_LINEAGE$;

[global]
;; Host/recipient fasta reference
$;HOST_REFERENCE$; =
$;HOST_LIST$; =
;; Refseq fasta sequence
$;REFSEQ_REFERENCE$; =
$;REFSEQ_LIST$; =
$;BAC_LINEAGE$; =
$;EUK_LINEAGE$; =
