[extract_chromosomes map]
;; path to config file
$;INPUT_FILE$; =
;; path to list of config files
$;INPUT_FILE_LIST$; =

[preprocess_alignment preprocess]
;; path to config file
$;INPUT_FILE$; =
;; path to list of config files
$;INPUT_FILE_LIST$; =  $;REPOSITORY_ROOT$;/output_repository/extract_chromosomes/$;PIPELINEID$;_map/extract_chromosomes.configs.list

[picard_processing process]
;; path to config file
$;INPUT_FILE$; =
;; path to list of config files
$;INPUT_FILE_LIST$; =  $;REPOSITORY_ROOT$;/output_repository/preprocess_alignment/$;PIPELINEID$;_preprocess/preprocess_alignment.configs.list

[split_spliced_reads split]
;; path to config file
$;INPUT_FILE$; =
;; path to list of config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/picard_processing/$;PIPELINEID$;_process/picard_processing.configs.list

[realigner_target_creator realign]
;; path to config file
$;INPUT_FILE$; = 
;; path to list of  config files
$;INPUT_FILE_LIST$; =  $;REPOSITORY_ROOT$;/output_repository/split_spliced_reads/$;PIPELINEID$;_split/split_spliced_reads.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[indel_realigner indel_realign]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of  config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/realigner_target_creator/$;PIPELINEID$;_realign/realigner_target_creator.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[base_recalibration base_recal]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of  config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/indel_realigner/$;PIPELINEID$;_indel_realign/indel_realigner.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[print_reads printreads]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of  config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/base_recalibration/$;PIPELINEID$;_base_recal/base_recalibration.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[haplotype_caller caller]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/print_reads/$;PIPELINEID$;_printreads/print_reads.configs.list

[variant_filtration filter]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/haplotype_caller/$;PIPELINEID$;_caller/haplotype_caller.configs.list

[annovar annotate]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/variant_filtration/$;PIPELINEID$;_filter/variant_filtration.configs.list

