[interface]
classification = RNA-Seq

[parameters]
;;R binary path
$;R_BIN_DIR$; = $;R_BIN$;
;; additonal R parameters
$;R_PARAMS$; = --slave --vanilla
;; path to R Script for bdbag generation. Optional [bdbag.R]
$;R_SCRIPT$; = $;R_SCRIPT_PATH$;
;;Path to Generate all counts R script. Optional.
$;R_COUNTS$; =
;; path to R Script for Rename DE counts. Optional.
$;R_RENAME$; =
;; use --v for verbose summary
$;OTHER_ARGS$; = -all -make
;;what files to pull
$;INCLUDEF$;=

[input]
;; pipeline id
$;PID$; = $;PIPELINEID$;
;; repository root
$;REPROOT$; = $;REPOSITORY_ROOT$;
;;name of project
$;PNAME$; = XTEMP

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = archive
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$; = bdbag
$;DESCRIPTION$; =  Generate BDBAG
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;script version
$;VERSION$; = bdbag version 1.0.0

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=
$;OS$;=
$;MEMORY$;=
$;HOSTS$;=
$;QUEUE$;=
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;= -l mem_free=1G

