; Configuration file for third party software install locations and any
; software outside of the ergatis install path.
; Each section provides a set of variables corresponding to a component
; and so headers must correspond to component names. For example tokens
; under [component wu-blastp] will only be evaluated when running the wu-blastp
; component.  Tokens under any 'common' section will be evaluated for all
; components ;; common stuff first

[common shared]
$;BEDTOOLS_BIN$;=/usr/bin/bedtools
$;SAMTOOLS_BIN$;=/opt/packages/samtools/bin
$;SAMTOOLS_EXEC$;=/opt/packages/samtools/bin/samtools
$;R_EXEC$;=/usr/bin/R

[component bam2bigwig]
$;UCSC_UTIL$; = /usr/local/bin/kentUtils

[component bowtie]
$;BOWTIE_EXEC$;=/usr/bin/bowtie/
$;BOWTIE_BIN$;=/usr/bin/

[component bowtie_build]
$;BOWTIE_BUILD_EXEC$;=/usr/bin/bowtie-build
$;BOWTIE_BUILD_BIN$;=/usr/bin

[component cuffcompare]
$;CUFFCOMPARE_EXEC$;=/opt/packages/cufflinks/cuffcompare
$;CUFFCOMPARE_BIN$;=/opt/packages/cufflinks

[component cuffdiff]
$;CUFFDIFF_EXEC$;=/opt/packages/cufflinkscuffdiff
$;CUFFDIFF_BIN$;=/opt/packages/cufflinks

[component cufflinks]
$;CUFFLINKS_EXEC$;=/opt/packages/cufflinks/cufflinks
$;CUFFLINKS_BIN$;=/opt/packages/cufflinks

[component cuffmerge]
$;CUFFMERGE_EXEC$;=/opt/packages/cufflinks/cuffmerge
$;CUFFMERGE_BIN$;=/opt/packages/cufflinks

[component cuffnorm]
$;CUFFNORM_EXEC$;=/opt/packages/cufflinks/cuffnorm
$;CUFFNORM_BIN$;=/opt/packages/cufflinks

[component cuffquant]
$;CUFFQUANT_EXEC$;=/opt/packages/cufflinks/cuffquant
$;CUFFQUANT_BIN$;=/opt/packages/cufflinks

[component cummerbund]
$;R_BIN$;=/usr/bin/R
$;R_SCRIPT_PATH$;=

[component deseq]
$;R_BIN$;=/usr/bin/R
$;R_SCRIPT_PATH$;=

[component edgeR]
$;R_BIN$;=/usr/bin/R
$;R_SCRIPT_PATH$;=

[component expression_plots]
$;R_BIN$;=/usr/bin/R
$;R_SCRIPT_PATH$;=

[component fastqc_stats]
$;FASTQC_BIN$;=/usr/bin

[component fastx_quality_stats]
$;FASTX_EXEC$;=/usr/bin/fastx_quality_stats
$;FASTX_BIN$;=/usr/bin

[component fastx_trimming]
$;FASTX_EXEC$;=/usr/bin/fastx_trimmer
$;FASTX_BIN$;=/usr/bin

[component hisat2]
$;HISAT2_BIN$;=/usr/local/packages/hisat2-2.0.4

[component hisat2_build]
$;HISAT2_BUILD_BIN$;=/usr/local/packages/hisat2-2.0.4

[component htseq]
$;PYTHON_BIN$;=
$;PYTHON_LIB$;=

[component tophat]
$;TOPHAT_EXEC$;=/usr/bin/tophat
$;TOPHAT_BIN$;=/usr/bin
$;BOWTIE_EXEC$;=/usr/bin/bowtie
$;BOWTIE_BIN$;=/usr/bin
$;SAMTOOLS_BIN$;=/usr/bin
