; Configuration file for third party software install locations and any
; software outside of the ergatis install path.
; Each section provides a set of variables corresponding to a component
; and so headers must correspond to component names. For example tokens
; under [component wu-blastp] will only be evaluated when running the wu-blastp
; component.  Tokens under any 'common' section will be evaluated for all
; components ;; common stuff first

[common shared]
$;SAMTOOLS_BIN$;=/opt/packages/samtools/bin
$;SAMTOOLS_EXEC$;=/opt/packages/samtools/bin/samtools
$;R_EXEC$;=/usr/bin/R

[component bowtie]
$;BOWTIE_EXEC$;=/usr/local/bin/bowtie/
$;BOWTIE_BIN$;=/usr/local/bin/

[component bowtie_build]
$;BOWTIE_BUILD_EXEC$;=/usr/local/bin/bowtie-build
$;BOWTIE_BUILD_BIN$;=/usr/local/bin

[component tophat]
$;TOPHAT_EXEC$;=/usr/local/bin/tophat
