; Configuration file for third party software install locations and any
; software outside of the ergatis install path.
; Each section provides a set of variables corresponding to a component
; and so headers must correspond to component names. For example tokens
; under [component wu-blastp] will only be evaluated when running the wu-blastp
; component.  Tokens under any 'common' section will be evaluated for all
; components ;; common stuff first
[common shared]
$;PICARD_TOOLS$;=/usr/local/packages/picard-tools-2.7.1/picard.jar
$;JAVA_EXEC$;=/usr/local/packages/java-jre-1.8.0/bin/java
$;GATK_BIN$;= /usr/local/packages/gatk-3.7/
$;SAMTOOLS_BIN$;=/opt/samtools/bin/
