[interface]
classification = RNA-Seq

[parameters]
;; path to R statistical package binary directory [/usr/local/packages/r-3.4-0/bin]
$;R_BIN_DIR$; = 
;; additonal R parameters
$;R_PARAMS$; =
;; path to R Script for BDBag to pull cloud files Analysis. Optional.
$;R_SCRIPT$; = 
;; path to R Script for Generate all counts. Optional
$;R_COUNTS$; = 
;; path to R Script for Rename DE counts. Optional.
$;R_RENAME$; = 
;; other args without key value pairs, like...
$;OTHER_ARGS$; = 
;;what files to pull
$;INCLUDEF$;=

[input]
;; pipeline id 
$;PID$; = 
;; Repository root
$;REPROOT$; = 
;;name of project
$;PNAME$; =

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$; = bdbag
$;DESCRIPTION$; = generates bdbag for project
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;bdbag version
$;VERSION$; = bdbag.pl v1.0
$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=
$;OS$;=
$;MEMORY$;=
$;HOSTS$;=
$;QUEUE$;=
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;= -l mem_free=1G

