[interface]
classification = RNA-Seq

[parameters]
;; path to HISAT2 package binary directory
$;HISAT2_BIN_DIR$; = $;HISAT2_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;

; Scoring Options

;; --mp MX,MN = Sets the maximum (MX) and minimum (MN) mismatch penalties, both integers. Default: MX = 6, MN = 2.
$;MISMATCH_PENALTIES$; = 6,2
;; --sp MX,MN = Sets the maximum (MX) and minimum (MN) penalties for soft-clipping per base, both integers. Default: MX = 2, MN = 1.
$;SOFTCLIP_PENALTIES$;=2,1
;; --rdg <int1>,<int2> = Sets the read gap open (<int1>) and extend (<int2>) penalties. A read gap of length N gets a penalty of <int1> + N * <int2>. Default: 5, 3.
$;READ_GAP_PENALTIES$;=5,3
;; --rfg <int1>,<int2> = Sets the reference gap open (<int1>) and extend (<int2>) penalties. A reference gap of length N gets a penalty of <int1> + N * <int2>. Default: 5, 3.
$;REF_GAP_PENALTIES$;=5,3
;; --score-min <func> = Sets a function governing the minimum alignment score needed for an alignment to be considered "valid". Default: L,0,-0.2.
$;MIN_ALIGNMENT_SCORE$;=L,0,-0.2

; Splice Alignment Options

;; --pen-cansplice <int> = Sets the penalty for each pair of canonical splice sites (e.g. GT/AG). Default: 0.
$;PEN_CANSPLICE$;=0
;; --pen-noncansplice <int> = Sets the penalty for each pair of non-canonical splice sites (e.g. non-GT/AG). Default: 12.
$;PEN_NONCANSPLICE$;=12
;; --pen-canintronlen <func> = Sets the penalty for long introns with canonical splice sites so that alignments with shorter introns are preferred to those with longer ones. Default: G,-8,1
$;PEN_CANINTRONLEN$;=G,-8,1
;; --pen-noncanintronlen <func> = Sets the penalty for long introns with noncanonical splice sites so that alignments with shorter introns are preferred to those with longer ones. Default: G,-8,1
$;PEN_NONCANINTRONLEN$;=G,-8,1
;; The minimum intron length. Default:20.
$;MIN_INTRON_LENGTH$; = 20
;; The maximum intron length. Default:500000.
$;MAX_INTRON_LENGTH$; = 500000
;; --rna-strandness <string> = Specify strand-specific information: the default is unstranded (leave field empty). F or R for single-end reads. FR or RF for paired-end reads.
$;RNA_STRANDNESS$;=
;; Report alignments tailored specifically for Cufflinks.
$;DTA_CUFFLINKS$;=1

; Reporting Options

;; -k <int> = number of distinct, primary alignments (default: 5 (HFM) or 10 (HGFM)) 
$;NUM_ALIGNMENTS$;= 5

; Paired-end Options

;; -I/--minins <int> = The minimum fragment length for valid paired-end alignments. Default: 0
$;MIN_FRAGMENT_LENGTH$;= 0
;; -X/--maxins <int> = The maximum fragment length for valid paired-end alignments. Default: 500
$;MAX_FRAGMENT_LENGTH$;= 500

; SAM options
;; --no-unal = Suppress SAM records for reads that failed to align.
$;SUPPRESS_UNALIGNMENTS$;=0

; Performance Options
;; (-p) The number of threads to be used to align reads. Default:1.
$;NUMBER_THREADS$; = 1

;; additional HISAT2 parameters
$;OTHER_PARAMETERS$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[input]
;; path to sequence file consisting of first mates
$;INPUT_FILE_1$; =
;; path to sequence file consisting of second mates (if paired-end sequencing)
$;INPUT_FILE_2$; =
;; path to list file consisting of tab separated first mate and second mate sequence files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple single mate sequence files
$;INPUT_DIRECTORY$; = 
;; file extension for single mate sequence files (to be used when iterating over an INPUT_DIRECTORY)
$;INPUT_EXTENSION$; = txt
;; path to HISAT2 index directory
$;HISAT2_INDEX_DIR$; = 
;; HISAT2 index prefix
$;HISAT2_INDEX_PREFIX$; = 

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of alignment BAM files
$;OUTPUT_ALIGNMENT_BAM_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bam.list
;; list of alignment SAM files
$;OUTPUT_ALIGNMENT_SAM_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sam.list

[component]
$;COMPONENT_NAME$; = hisat2
$;DESCRIPTION$; = generates HISAT2 alignment for the input sequence file(s) against the given reference index file.
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;HISAT2 version
$;VERSION$; = HISAT2 version 2.0.4

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=
$;OS$;=
$;MEMORY$;=
$;HOSTS$;=
$;QUEUE$;=
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;= -l mem_free=5G

