[interface]
classification = RNA-Seq

[parameters]
;; path to bowtie bin directory
$;BowtieBin$; = $;BOWTIE_BIN$;
;; path to RnaFold package
$;RnaFoldPath$; = $;RNA_FOLD_PATH$;
;; path to mirdeep2 bin directory
$;BinDir$; = $;Mirdeep_BIN_DIR$;
;; path to RandFold package
$;RandFoldPath$; = $;RAND_FOLD_PATH$;
;; path to Bedtools bin
$;BedtoolsBinDir$; = $;BEDTOOLS_BIN$;
;;Other optional parameters for mapper.pl
$;OtherArgsMapper$; = none
;; Other optional parameters for quantifier.pl
$;OtherArgsQuantifier$; = none
;;Other optional parameters for miRDeep2.pl 
$;OtherArgsMirdeep$; = none
;; path to bowtie index directory
$;INDEX$; = 
;; The name of the output file of processed reads
$;OutputReadFile$; = 
;; /path/to/Rfam file
$;RfamFile$; = none
;; Name of the output file of genome mapping
$;OutputMapping$; = 
;;input read file type
$;InputOption$; =
;;this clips the adaptor
$;ADAPTOR$; =
;;annotation file for known miRNAs in either BED, GTF or GFF format.
$;Annotation$; =
;;annotation file format (bed, gtf or gff3)
$;AnnotationFormat$; =
;;feature type from column 3 of GTF or GFF3 file.
$;Feature$; =
;;attribute id from column 9 of GTF or GFF3 file to be used as region ID.
$;Attribute$; =
;;miRDeep2 score cut-off.
$;Score$; =
;;mature miRNA read depth cutoff.
$;Depth$; =
;; use --v for verbose summary
$;OTHER_ARGS$; = --v


[input]
;; path to Precursor reference file 
$;PrecursorRef$; =
;; path to Mature reference file for this species
$;MatureRefThisSpecies$; =
;; path to Mature reference file for other species 
$;MatureRefOtherSpecies$; =
;; PAth to reference genome
$;RefGenome$; =
;; path to read file
$;INPUT_FILE$; =


;; path to list file 
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple files
$;INPUT_DIRECTORY$; = 
;; file extension for single mate sequence files (to be used when iterating over an INPUT_DIRECTORY)
$;INPUT_EXTENSION$; = 
;; path to bowtie index directory

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default

;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of stats txt files
$;OUTPUT_ALIGNMENT_TXT_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.txt.list


[component]
$;COMPONENT_NAME$; = wrapper_mirdeep
$;DESCRIPTION$; = Runs mirdeer for miRNA
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6089 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
