[global]

[realigner_target_creator]
;;Path to GATK binary directory
$;GATK_BIN$; = /usr/local/packages/GenomeAnalysisTK-3.1.1
;;Reference 
$;Reference$; = 
;;Input Bam file
$;Infile$; = 
;;Output Prefix
$;Prefix$; = 
;;additional Realigner Target Creator parameters
$;OTHER_PARAMETERS$; = 
;;use --v for verbose summary
$;OTHER_ARGS$; = --v
;;Java Memory
$;Java_Memory$; = -Xmx5g

[indel_realigner]
;;Path to GATK binary directory
$;GATK_BIN$; = /usr/local/packages/GenomeAnalysisTK-3.1.1/
;;Reference 
$;Reference$; = 
;;Input Bam file
$;Infile$; = 
;;Target Intervals from Realigner target creator
$;TargetInterval$; = 
;;Output Prefix
$;Prefix$; = 
;;additional Indel Realigner parameters
$;OTHER_PARAMETERS$; = 
;;use --v for verbose summary
$;OTHER_ARGS$; = --v
;;Java Memory
$;Java_Memory$; = -Xmx5g

[base_recalibration]
;;Path to GATK binary directory
$;GATK_BIN$; = /usr/local/packages/GenomeAnalysisTK-3.1.1/
;;Reference 
$;Reference$; = 
;;Input Bam file
$;Infile$; = 
;;Output Prefix
$;Prefix$; = 
;;Known sites
$;KnownSites$; = 
;;additional Base Recalibration parameters
$;OTHER_PARAMETERS$; = -nct 40
;;use --v for verbose summary
$;OTHER_ARGS$; = --v
;;Java Memory
$;Java_Memory$; = -Xms8g

[print_reads]
;;Path to GATK binary directory
$;GATK_BIN$; = /usr/local/packages/GenomeAnalysisTK-3.1.1/
;;Reference 
$;Reference$; = 
;;Input Bam file
$;INPUT_FILE$; = 
;;Output Prefix
$;Prefix$; = 
;;additional Print Reads parameters
;;Base Recalibration table file
$;BQSR$; =
$;OTHER_PARAMETERS$; = 
;;use --v for verbose summary
$;OTHER_ARGS$; = --v
;;Java Memory
$;Java_Memory$; = -Xmx10g
