[speedseq_aln alignment]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of  config files
$;INPUT_FILE_LIST$; = 
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v


[split_bam split_align]
;; path to config file
$;INPUT_FILE$; =  
;; path to list of  config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/speedseq_aln/$;PIPELINEID$;_alignment/speedseq_aln.configs.list 
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[realigner_target_creator realign]
;; path to config file
$;INPUT_FILE$; = 
;; path to list of  config files
$;INPUT_FILE_LIST$; =  $;REPOSITORY_ROOT$;/output_repository/split_bam/$;PIPELINEID$;_split_align/split_bam.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[indel_realigner indel_realign]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of  config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/realigner_target_creator/$;PIPELINEID$;_realign/realigner_target_creator.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[fix_mate fixed_mate]
;; path to speedseq config file
$;INPUT_FILE$; = 
;; path to list of  config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/indel_realigner/$;PIPELINEID$;_indel_realign/indel_realigner.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[merge_bam merged]
;; path to speedseq config file
$;INPUT_FILE$; = $;REPOSITORY_ROOT$;/output_repository/fix_mate/$;PIPELINEID$;_fixed_mate/fix_mate.configs.list
;; path to list of  config files
$;INPUT_FILE_LIST$; = 
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[base_recalibration base_recal]
;; path to  config file
$;INPUT_FILE$; = $;REPOSITORY_ROOT$;/output_repository/merge_bam/$;PIPELINEID$;_merged/merge_bam.configs.list
;; path to list of  config files
$;INPUT_FILE_LIST$; = 
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v


[print_reads printreads]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of  config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/base_recalibration/$;PIPELINEID$;_base_recal/base_recalibration.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[unified_genotyper snp]
;; path to config file
$;INPUT_FILE$; = 
;; path to list of config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/print_reads/$;PIPELINEID$;_printreads/print_reads.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[run_convert2annovar convert]
;; path to config file
$;INPUT_FILE$; = 
;; path to list of config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/unified_genotyper/$;PIPELINEID$;_snp/unified_genotyper.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[run_table_annovar table]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/run_convert2annovar/$;PIPELINEID$;_convert/run_convert2annovar.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v


[run_cascade cascade]
;; path to  config file
$;INPUT_FILE$; = 
;; path to list of config files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/run_table_annovar/$;PIPELINEID$;_table/run_table_annovar.configs.list
;; path to temporary directory
$;TEMP_DIR$; = $;TMP_DIR$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v


